/* === T SHAPE ================= */
.t {
  width: calc(var(--blockSize) * 3);
  height: calc(var(--blockSize) * 3);
}
/*
  [ ][ ][ ]
     [ ]
*/
.t.rot-1 > div.block:nth-child(1) {
  top: calc(var(--blockSize));
  left: 0;
}
.t.rot-1 > div.block:nth-child(2) {
  top: calc(var(--blockSize));
  left: calc(var(--blockSize));
}
.t.rot-1 > div.block:nth-child(3) {
  top: calc(var(--blockSize));
  left: calc(var(--blockSize) * 2);
}
.t.rot-1 > div.block:nth-child(4) {
  top: calc(var(--blockSize) * 2);
  left: calc(var(--blockSize));
}
/*
     [ ]
  [ ][ ]
     [ ]
*/
.t.rot-2 > div.block:nth-child(1) {
  top: calc(var(--blockSize));
  left: 0;
}
.t.rot-2 > div.block:nth-child(2) {
  top: 0;
  left: calc(var(--blockSize));
}
.t.rot-2 > div.block:nth-child(3) {
  top: calc(var(--blockSize));
  left: calc(var(--blockSize));
}
.t.rot-2 > div.block:nth-child(4) {
  top: calc(var(--blockSize) * 2);
  left: calc(var(--blockSize));
}
/*
     [ ]
  [ ][ ][ ]
*/
.t.rot-3 > div.block:nth-child(1) {
  top: 0;
  left: calc(var(--blockSize));
}
.t.rot-3 > div.block:nth-child(2) {
  top: calc(var(--blockSize));
  left: 0;
}
.t.rot-3 > div.block:nth-child(3) {
  top: calc(var(--blockSize));
  left: calc(var(--blockSize));
}
.t.rot-3 > div.block:nth-child(4) {
  top: calc(var(--blockSize));
  left: calc(var(--blockSize) * 2);
}
/*
    [ ]
    [ ][ ]
    [ ]
*/
.t.rot-4 > div.block:nth-child(1) {
  top: 0;
  left: calc(var(--blockSize));
}
.t.rot-4 > div.block:nth-child(2) {
  top: calc(var(--blockSize));
  left: calc(var(--blockSize));
}
.t.rot-4 > div.block:nth-child(3) {
  top: calc(var(--blockSize) * 2);
  left: calc(var(--blockSize));
}
.t.rot-4 > div.block:nth-child(4) {
  top: calc(var(--blockSize));
  left: calc(var(--blockSize) * 2);
}
