/* === J SHAPE ================= */
.j {
  width: calc(var(--blockSize) * 3);
  height: calc(var(--blockSize) * 3);
}
/*
  [ ]
  [ ][ ][ ]
*/
.j.rot-1 > div.block:nth-child(1) {
  top: 0;
  left: 0;
}
.j.rot-1 > div.block:nth-child(2) {
  top: calc(var(--blockSize));
  left: 0;
}
.j.rot-1 > div.block:nth-child(3) {
  top: calc(var(--blockSize));
  left: calc(var(--blockSize));
}
.j.rot-1 > div.block:nth-child(4) {
  top: calc(var(--blockSize));
  left: calc(var(--blockSize) * 2);
}
/*
    [ ][ ]
    [ ]
    [ ]
*/
.j.rot-2 > div.block:nth-child(1) {
  top: 0;
  left: calc(var(--blockSize));;
}
.j.rot-2 > div.block:nth-child(2) {
  top: calc(var(--blockSize));
  left: calc(var(--blockSize));
}
.j.rot-2 > div.block:nth-child(3) {
  top: calc(var(--blockSize) * 2);
  left: calc(var(--blockSize));
}
.j.rot-2 > div.block:nth-child(4) {
  top: 0;
  left: calc(var(--blockSize) * 2);
}
/*
  [ ][ ][ ]
        [ ]
*/
.j.rot-3 > div.block:nth-child(1) {
  top: calc(var(--blockSize));
  left: 0;
}
.j.rot-3 > div.block:nth-child(2) {
  top: calc(var(--blockSize));
  left: calc(var(--blockSize));
}
.j.rot-3 > div.block:nth-child(3) {
  top: calc(var(--blockSize));
  left: calc(var(--blockSize) * 2);
}
.j.rot-3 > div.block:nth-child(4) {
  top: calc(var(--blockSize) * 2);
  left: calc(var(--blockSize) * 2);
}
/*
     [ ]
     [ ]
  [ ][ ]
*/
.j.rot-4 > div.block:nth-child(1) {
  top: calc(var(--blockSize) * 2);
  left: 0;
}
.j.rot-4 > div.block:nth-child(2) {
  top: 0;
  left: calc(var(--blockSize));
}
.j.rot-4 > div.block:nth-child(3) {
  top: calc(var(--blockSize));
  left: calc(var(--blockSize));
}
.j.rot-4 > div.block:nth-child(4) {
  top: calc(var(--blockSize) * 2);
  left: calc(var(--blockSize));
}
