:root {
  --blockSize: 15px;
}

body {
  background-size: 15px 15px;
  background-image: linear-gradient(to right, #ddd 1px, transparent 1px), linear-gradient(to bottom, #ddd 1px, transparent 1px);
  background-color: #eee;
}