
.shape {
  position: absolute;
  top: var(--shapeTop);
  left: var(--shapeLeft);
  transition: all .1s ease-in-out;
}

.block {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  border: 3px solid gray;
  border-style: outset;
  box-sizing: border-box;
  background-color: #5628ff;
  box-shadow: 2px 2px 2px 0px #999;
}

/* === T SHAPE ================= */
.t-shape {
  width: 45px;
  height: 30px;
  transform-origin: 23px 8px;
  transform: rotate(var(--shapeDegrees));
}
.t-shape > div.block:nth-child(1) {
  top: 0;
  left: 0;
}
.t-shape > div.block:nth-child(2) {
  top: 0;
  left: 15px;
}
.t-shape > div.block:nth-child(3) {
  top: 0;
  left: 30px;
}
.t-shape > div.block:nth-child(4) {
  top: 15px;
  left: 15px;
}


